.row-wrapper {
    display: flex;
    align-items: flex-start;
}

.wrapper {
    margin-right: 10px;
}

@media (max-width: 1000px) {
    .row-wrapper {
        display: block;
        align-items: unset;
    }
}
