ul, ol {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
}

ul {
  padding-left: 10px;
}

ol {
  padding-left: 15px;
}

.category li {
  list-style: none;
}

.h1-alt {
  text-decoration: underline;
}

.category h1 {
  color: #f5b767;
}

.category-price {
  color: #ffd78f;
}

.category-example {
  margin-bottom: 20px;
}

#commission {
  filter: drop-shadow(3px 3px #444);
  max-width: unset !important;
  width: 350px;
}

#commission:hover {
  transform: translate(-1px, -1px);
  filter: drop-shadow(4px 4px #444);
}

.comm-accs {
  vertical-align: 150%;
  max-width: unset !important;
  width: 150px;
}

#merit {
  position: absolute;
  top: 0;
  left: 5px;
}

#pompom {
  position: absolute;
  top: 0;
  right: 0;
  width: 125px;
}

#toffee {
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 180px;
  transform: scale(1, -1) rotateZ(180deg);
}

#comm {
  background-color: #6cdcf0;
  padding-top: 10px;
}

#comm-read {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#comm-read span {
  margin: 0 8px 0 8px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

#comm-read span.active {
  background-color: #4f9fb0;
}

.comm-read-item {
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.3s ease-out;
  color: #21b3cc;
}

.comm-read-item:nth-of-type(2) {
  background-color: #f0dd7d;
}

.comm-read-item:nth-of-type(3) {
  background-color: #97f27e;
}

.comm-read-content {
  padding: 0 20px 0 20px;
}

.comm-read-content ul > li {
  list-style: "- ";
}

@media (min-width: 1800px) {
  #toffee {
    width: 265px;
  }
}

@media (max-width: 1200px) {
  #commission {
    width: 200px;
  }

  .comm-accs {
    vertical-align: 100%;
    width: 80px;
  }

  #toffee {
    width: 100px;
  }
}

@media (max-width: 700px) {
  #commission {
    width: 150px;
  }

  .comm-accs {
    vertical-align: 80%;
    width: 60px;
  }

  #merit {
    width: 70px;
    top: 25px;
    left: 3px;
  }

  #pompom {
    width: 85px;
    top: 25px;
    right: -5px;
  }
}
