:root {
    --fufudon-button-bg: rgb(16, 31, 97);
    --fufudon-button-active-bg: rgb(20, 28, 66);
    --fufudon-card-bg: #07081a;
}

.fufudon-card {
    position: relative;
    display: inline-flex;
    width: 400px;
    height: 485px;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: var(--fufudon-card-bg);
    row-gap: 10px;
}

.fufudon-card a {
    text-decoration: none;
}

.fufudon-card img {
    transition: 0.2s;
}

.fufudon-card-item-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#fufudon-layer-part {
    position: absolute;
    bottom: 0;
}

#fufudon-layer-face > .fufudon-button {
    width: 47%;
}

#fufudon-layer-part > .fufudon-button {
    width: 22%;
}

.fufudon-button {
    padding: 5px;
    background-color: var(--fufudon-button-bg);
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.fufudon-button:active, .fufudon-button-active {
    background-color: var(--fufudon-button-active-bg);
}

#fufudon-layer-part > .fufudon-button:hover {
    background-color: var(--fufudon-button-active-bg);
}

@media (max-width: 1000px) {
    .fufudon-card {
        width: 360px;
    }
}
