@import url(/styles/animations.css);

.gallery {
  display: inline-grid;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  animation: fadeIn 0.3s ease forwards;
  filter: drop-shadow(4px 4px #444);
  cursor: pointer;
}

.gallery-nsfw {
  clip-path: inset(0);
  filter: blur(8px) drop-shadow(4px 4px #444);
}

.gallery-nsfw:hover {
  filter: blur(8px) drop-shadow(5px 5px #f5b3c7);
}

.gallery:hover {
  transform: translate(-1px, -1px);
}

@media (max-width: 700px) {
  .gallery {
    width: 100px;
    height: 100px;
  }

  .gallery-desc {
    font-size: xx-small;
  }
}

#gallery-sort {
  font-family: inherit;
  font-size: 15px;
  color: inherit;
  border: 2px solid #f5b3c7;
  background-color: #e3a1b5;
}

#gallery-page li {
  display: inline;
  padding: 0 0 2px 2px;
}

#gallery-page-pages {
  padding: 0;
}

#gallery-page-pages li {
  padding: 0 8px;
}

#gallery-page-current {
  color: #f7c6d5;
  font-style: italic;
}

.gallery-page-page,
#gallery-page-next,
#gallery-page-prev {
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

.gallery-page-page:hover,
#gallery-page-next:hover,
#gallery-page-prev:hover {
  color: #f7c6d5;
}
