ul {
  padding: 0;
}

li {
  list-style: none;
}

.gallery {
  display: inline-grid;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  animation: fadeIn 0.3s ease forwards;
  cursor: pointer;
  opacity: 0;
}

.gallery.placeholder {
  background-image: url(/assets/spin.gif);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.2);
  filter: none;
}

.gallery-nsfw {
  clip-path: inset(0);
  filter: blur(8px);
}

.gallery-multiple {
  position: absolute;
  top: 5%;
  right: 7.5%;
  color: #fff;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 1));
  transition: 0.2s ease;
  pointer-events: none;
  opacity: 0;
}

#gallery-sort {
  font-family: inherit;
  font-size: 15px;
  color: #1d2021;
}

#gallery-page li {
  display: inline;
  padding: 0 0 2px 2px;
}

#gallery-page-pages {
  padding: 0;
}

#gallery-page-pages li {
  padding: 0 8px;
}

#gallery-page-current {
  font-weight: bold;
  font-size: 1.8em;
  text-shadow: #f4fbff 1px 0 10px;
}

.gallery-page-page,
#gallery-page-next,
#gallery-page-prev {
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  font-size: 1.8em;
}

.gallery-page-page:hover,
#gallery-page-next:hover,
#gallery-page-prev:hover {
  text-shadow: #f4fbff 1px 0 10px;
}

@media (max-width: 700px) {
  .gallery {
    width: 100px;
    height: 100px;
  }

  .gallery-desc {
    font-size: xx-small;
  }

  .gallery-page-page,
  #gallery-page-next,
  #gallery-page-prev,
  #gallery-page-current {
    font-size: 1em;
  }
}