.modal {
  top: 0;
  left: 0;
  display: none;
  overflow: scroll;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-inner {
  display: grid;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.modal-inner > .modal-content {
  justify-self: center;
  align-self: center;
  margin: 0;
}

.modal-inner > .modal-content.zoomed {
  justify-self: start;
  align-self: start;
}

.modal-content img {
  margin: auto;
  max-width: 700px;
  transition: 0.2s;
  opacity: 0;
}

.modal-content.placeholder {
  background-image: url(/assets/spin.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-content.zoomed img {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  cursor: zoom-out;
  padding: 10px;
}

.modal-close,
.modal-prev,
.modal-next {
  position: absolute;
  color: #555;
  font-size: 50px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

.modal-prev,
.modal-next {
  top: 50%;
  font-size: 80px;
  visibility: hidden;
}

.modal-close {
  top: 2.5%;
  right: 2.5%;
}

.modal-prev {
  left: 2.5%;
}

.modal-next {
  right: 2.5%;
}

.modal-close:hover,
.modal-prev:hover,
.modal-next:hover {
  color: white;
}

.gallery-modal {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .modal-content img {
    max-width: 400px;
  }

  .modal-content.zoomed img {
    max-width: 900px;
  }

  .modal-prev,
  .modal-next {
    top: 85%;
  }
}
