.modal {
  top: 0;
  left: 0;
  display: none;
  overflow: scroll;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  width: 80%;
  max-width: 700px;
  cursor: zoom-in;
}

.modal-content.zoomed {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  cursor: zoom-out;
  padding: 10px;
}

.modal-close,
.modal-prev,
.modal-next {
  position: absolute;
  color: #555;
  font-size: 50px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

.modal-prev,
.modal-next {
  top: 50%;
  font-size: 100px;
  visibility: hidden;
}

.modal-close {
  top: 2.5%;
  right: 2.5%;
}

.modal-prev {
  left: 2.5%;
}

.modal-next {
  right: 2.5%;
}

.modal-close:hover,
.modal-prev:hover,
.modal-next:hover {
  color: white;
}
